// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 span {
  background-color: #333333;
  color: white;
  width: 10%;
  font-size: 0.9em;
}